/* Header Container */
.header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 6px 53px 9px #00000033;
  text-align: center;
  /* position: fixed; */
}

.logo {
  height: 56px;
  width: 200px;
}

/* Home Page */
.HomeContainer {
  height: 91vh;
  background-image: linear-gradient(rgba(95, 95, 95, 0.401), rgba(0, 0, 0, 0.5)), url(../public/homeBackground.png);
  background-size: cover;
  -webkit-background-size: cover;
}


.HomeContainer h1 {
  color: #ffffff;
  text-shadow: 5px 2px 6px rgb(0 0 0 / 30%);
  font-size: 59px;
  padding: 62px 59px;
}

.homeContent {
  width: 47%;
}

.HomeContainer p {
  padding: 0px 25px;
  font-size: 15px;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
  text-align: justify;
  margin: -43px 43px;
  line-height: 20px;
}

/* Footer */

.FooterContainer {
  height: 13vh;
  background-color: black;
}

.FooterContainer p {
  color: #FFFFFFA8;
  font-size: 16px;
  text-align: center;
  padding: 12px;
}

.startLearningBut {
  background-color: #04AA6D;
  border: navajowhite;
  border-radius: 27px;
  font-size: 30px;
  color: #FFFFFF;
  padding: 14px 23px
}

.startLearningContainer {
  padding: 59px 56px;
}

/* Mdules Page */

.homeModulesContainer {
  background: radial-gradient(79.57% 29.83% at 50% 70.17%, #FFFFFF 0%, #DEFFF3 100%);
  height: 90vh;
}

.homeModulesContainer h1 {
  text-align: center;
  color: #181619;
  padding: 15px;

}

.differentModuleHome {
  display: flex;
  justify-content: space-around;
}

.ModulesIntro {
  width: 282px;
  height: 360px;
  border-radius: 16px;
}

.SubModule1Intro {
  margin: 15px;
  height: 100%;
  border: double 4px transparent;
  border-radius: 16px;
  background-image: linear-gradient(#FFFFFF 0%, #DFE0E0 100%), radial-gradient(circle at top left, #00C469, #00BFFF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.SubModule1Intro p {
  padding: 46px 20px;
  text-align: justify;
  font-size: 14px;
  line-height: 22px;
  height: 75%;
}

.SubModule1IntroLogo {
  height: 150px;
  width: 150px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 44px;
  border: double 10px transparent;
  background-image: linear-gradient(#FFFFFF 0%, #DFE0E0 100%), radial-gradient(circle at top left, #04AA6D, #47E3AA);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.charLogo {
  margin: 19px 24px;
}

.getStartedButContainer {
  text-align: center;
  margin: 75px;
}

.getStartedBut {
  background-color: #04AA6D;
  border: navajowhite;
  border-radius: 27px;
  font-size: 25px;
  color: #FFFFFF;
  padding: 14px 23px
}


/* Module 1 Home Page */

.Module1Poster {
  height: 122vh;
  background-image: linear-gradient(rgba(95, 95, 95, 0.401), rgba(0, 0, 0, 0.5)), url(../public/Module1Poster.png);
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;

}

.module1Head h1 {
  color: #ffffff;
  text-shadow: 5px 2px 6px rgb(0 0 0 / 30%);
  font-size: 80px;
  padding: 115px 100px
}

.module1Quest {
  padding: 0px 56px;
  font-size: 42px;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
  text-align: justify;
  margin: -94px 41px;
  line-height: 20px;
}

.Module1Intro {
  height: 50vh;
  background: radial-gradient(79.57% 29.83% at 50% 70.17%, #FFFFFF 0%, #DEFFF3 100%);
}

.Module1Intro p {
  width: 50%;
  margin: auto;
  text-align: justify;
  font-size: 23px;
  padding: 18px;
}

.startLearningModule1But {
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  color: #FFFFFF;
  margin: 23px;
  padding: 12px 15px;
}

.StartLearningModul1ButContainer {
  text-align: center;
}

/* Job Description */

.jobDescriptionContainer {
  background-image: url(../public/chapterBg.png);
  background-color: #D9FFF1;
  height: 135vh;

}

.jobDescriptionSectionsContainer {
  display: flex;
  justify-content: space-around;
  padding: 51px 9px;
}

.jobDescriptionSections {
  width: 250px;
}

.jobDescriptionSectionImg {
  margin: 35px;
}

.jobDescriptionSections h3 {
  font-size: 23px;
  line-height: 35px;
}

.jobDescriptionContainer h1 {
  text-align: center;
}

.jobDescriptionSectionsContent {
  text-align: center;
  text-align: justify;
}

.flipcard {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flipcardinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 500ms;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  background-color: #FFFFFF;
}

.flipcard:hover .flipcardinner {
  transform: rotateY(-180deg);
}

.flipcardfront,
.flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcardback {
  background-color: #22D794;
  color: white;
  transform: rotateY(180deg);
}

.flipcardbackContent {
  padding: 24px;
  text-align: justify;
}

.jobDisNextButContainer {
  text-align: center;
}

.jobDisNextBut {
  padding: 4px 29px;
  background-color: #0FC381;
  border: none;
  color: #FFFFFF;
  font-size: 25px;
  box-shadow: 0px 0px 15px 0px #0000004D;
  border-radius: 10px;

}

/* Job-Description-video-container */
.jobDescriptionVideoContainer {
  background-color: #D9FFF1;
  height: 100vh;
}

.jobDescriptionVideoContainer h1 {
  text-align: center;
  padding: 20px;
}

.videoContainer {
  text-align: center;
  margin: 31px;
}

.NextChapterButContainer {
  text-align: center;

}

.NextChapterBut {
  background: #0FC381;
  padding: 10px;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0px 0px 15px 0px #0000004D;
}


/* employee-handbook */

.app{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flippableCardContainer{
  height: 500px;
  width: 300px;
  perspective: 1000px;
}
.card{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1000ms;
}
 /* .card:hover{
  transform: rotateY(180deg);
}  */
.cardBack,.cardFront{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cardBack{
  background-color: green;
}
.cardFront{
  background-color: #0FC381;
  color: #ffffff;
  transform: rotateY(180deg);
}
.flip-exit{
transform: rotateY(0deg);
}
.flip-exit-active{
  transform: rotateY(1800deg);
  transition: tranfsorm 300ms;
}
.flip-exit-done{
  transform: rotateY(1800deg);

}